<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.10/handlebars.js"></script>
    <script src="http://vk.com/js/api/openapi.js" type="text/javascript"></script>
	<link rel="stylesheet" href="src/style.css">
</head>

<body>

	<div class="wrapper">
		<div class="container">
			<h3 class="main__title">Выберите друзей</h3>
			<div class="main__block">
				<div class="left__block">
					<div class="div__input">
						<input type="text" class="input__search" placeholder="&#128269">
					</div>
					<h5 class="friend__title">Ваши друзья</h5>
					<ul class="friend__list">
						<li class="friend__item">друг 1</li>
					</ul>
					<span class="plus">&#10010</span>
					<span class="plus">&#10006</span>
				</div>
				<div class="right__block">
					<div class="div__input">
						<input type="text" class="input__search" placeholder="&#128269">
					</div>
					<h5 class="friend__title">Друзья в списке</h5>
					<ul class="friend__list">
						<li class="friend__item">друг 1</li>
					</ul>
				</div>
			</div>
			<div class="footer">
				<button class="button__save">Сохранить</button>
			</div>
		</div>
	</div>

	<script src="src/main.js" type="script"></script>

</body>
</html>